version: '3'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./Database:/app/Database
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
    restart: unless-stopped